
/*
Design by Carol McMasters-Stone, ucdavis
Released for free under a Creative Commons Attribution 2.5 License

*/
html { 
	background: url(images/bubbles.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#wrapper {
	margin-left: 30px;
	margin-right: 30px;
}

.header-bar-container {
	width:100%;
	padding-left: 30px;
	padding-right: 30px;
	background:#fff;
	}

.header-bar {
	height:90 px;
	background:#fff;
/*	width:1000px; */
	margin-top:0px;
	margin-bottom:0px;
	font-size:1.0em;
	z-index:5;
	}


#header-bar-container2 {
	border-top: 1px solid white;
	background:rgb(0,0,102);
	
}
#header-bar2 {
/*	margin-right:10px;*/
	height:15px;
	background:rgb(0,0,102);
/*	width:1000px; */
	margin-top:0px;
	margin-bottom:0px;
	font-size:1.0em;

}
.ucd-logo {
	
}
#header-wrapper {
/*	width:1000px; */
	height: 228px;
}
div#portletwrapper-436f6e74656e7457656c6c506f72746c6574732e496e486561646572506f72746c65744d616e61676572310a636f6e746578740a2f506f6c695363692f66726f6e742d706167650a626c696e672d736c69646573686f77.portletWrapper dl.portlet {
	width: 778px;
	height: 220px;
	overflow: hidden;
}


#slides 	{
	float: top;
/*	background-image:url('images/goldbackbig.png') */
/*	margin: auto; */
	height: 225px;
/*	width:1000px; */
	margin-top:0px;
	margin-bottom:0px;
	font-size:1.0em;
}
#slides-1 {
	float: left;
	border: 4px solid white;
	height:220px;
}
#slides-2 {
	margin-left: 217px;
	width: 778px;
	border: 4px solid white;
	height: 220px;
	z-index: 5100;
}

ul.slideshow {
	list-style: none;
	width: 778px;
	height: 220px;
	overflow: visible;
	position: relative;
	margin-top: -28px;
	margin-left: -13px;
	z-index: 50;

}
.slideshow-caption {
    width:25%;
    height:35px;
    float:right;
    bottom:0;
    left:0; 
    color:#fff;
    background:transparent;
    z-index:500;
    opacity: .6;
}

.slideshow-caption .slideshow-caption-container {
    padding:200px;       
    z-index:-1000;
}

.slideshow-caption h3 {
    margin:0;
    padding:0;  
    text-transform: capitalize;
}

.slideshow-caption p {
    margin:5px 0 0 0;
    padding:0;
}

.slideshow-caption-container span {
    float: right;
    padding-bottom: 5px;
    text-decoration: underline;
}

.slideshow-caption-container h3 {
    color: white;
}

a.read-more {
    float: right;
    color: white !important;
    font-weight: bold;
}


#logo a#portal-logo {
    margin-top: 157px;
}

#portal-personaltools a{
	color:white !important;
}
#portal-searchbox {
    margin: 2px 6px 0 0;
}

/* shades of gray */
#content a:link,
dl.portlet a:link{
    color: #2F4D6A;
}
#content a:visited,
dl.portlet a:visited,
a:link,
a:visited{
    color: #2F4D6A;
}
#content a:hover, dl.portlet a:hover {
    color: #667DA3 !important;
}


#portal-siteactions li a:hover {
    color: #000000;
}

/* Dark grey bg, white color*/
dl.portlet dt,
div.portletAssignments div.portletHeader,
div.managePortletsLink,
a.managePortletsFallback{
	background-color: rgb(51,83,121);
/*	border: solid black; */
	color: #FFF;
}
dl.portlet dt a:link, dl.portlet dt a:visited, dl.portlet dt a:hover {
color: white;
}
dl.portlet {
    font-size: 80%;
    border: solid 0.1em black;
}
div.managePortletsLink a{
    color: #FFF;
}

#content fieldset {
    border-color: #4C6794;
}

.searchSection label{ color: #FFF; }
.searchSection label:hover { color: #AAA; }

/*****************************************************/
.banner {width:1000px; :"trebuchet ms",arial,sans-serif; padding:0px;margin:0px;}
.banner-middle {width:1000px; height:200px; background-color:FFFFFF; bckground:rgb(230,230,230) url(img/bg_head_midle.jpg); overflow:visible !important /*Firefox*/; overflow:hidden /*IE6*/;}
.banner-bottom {width:1000px; height:40px; bckground:rgb(255,255,255) url(img/bg_head_breadcrumbs.jpg) repeat-y;}
.banner-breadcrumbs {clear:both; width:1000px; padding:1.0em 0 1.5em 0; background:rgb(255,255,255) url(img/bg_head_breadcrumbs.jpg) repeat-y;}


body {
	margin: 0;
	padding: 0;
/*	background-color: #CFA21A; */
	font-family: verdana,arial,sans-serif;
	font-size: 16px;
    color: #66665E;
    background: url(images/golden-background2.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	 background-size: cover; 
	
}

h1, h2, h3 {
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
	color: #335379;
}

/*h1 { font-size: 44px; }

h2 { font-size: 18px; }

h3 { }
*/
p, ul, ol {
	margin-top: 0;
	line-height: 150%;
	text-align: justify;
}

ul, ol { }

blockquote { }

a { color: #000000; }

a:hover { text-decoration: none; }

a img {
	border: none;
}

img.left {
	float: left;
	margin: 7px 30px 0 0;
}

img.right {
	float: right;
	margin: 7px 0 0 30px;
}

hr { display: none; }

.list1 {
}

.list1 li {
	float: left;
	line-height: normal;
}

.list1 li img {
	margin: 0 30px 30px 0;
}

.list1 li.alt img {
	margin-right: 0;
}



/* Header */

#header-wrapper {
}

 #header {
	width: 100%;
	height: 40px;
	margin: 0 auto;
	background: rgb(51,83,121);
	border-bottom: solid .2em #BC8D09;
/*	border-right: solid black; */
}

/* Portal Global-nav*/
#portal-globalnav {
/*width: 1001px; */
height: 40px;
clear: both;
font-size: 80%;
background: rgb(51,83,121);
color: white;
border-left: white solid 1px;
/* border-right: white solid 1px; */
z-index: 5;
}
#portal-globalnav li a {
display: inline-block;
padding: 0.5em 2em 1em 1em;
line-height: 1.7em;
background: #002855;
min-width: 6em;
white-space: normal;
border-right: 0.1em solid white;
color: white;
}

#portal-globalnav li.selected a i
height: 40px;{
background-color: #002855;
color: white;
}
#portal-globalnav .selected a, #portal-globalnav a:hover {
background: #335379;
color: white;
}
/* for drop down menus */
#portal-globalnav:hover li:hover > a {
  background-color:#335379;
  color: white;
  }
portal-globalnav:hover li:hover ul > a {
  background-color:#335379;
  color: white;
  }
#portal-globalnav ul li a {
  background-color:#002855;
  border-top:1px solid #fff;
  height:auto
  padding:0.5em 1.5em 0.5em 1em;
  vertical-align:top;
  width:12em;
  }
#portal-globalnav li.selected ul li a {
  background-color:#335379;
  color: white;
  }
#portal-globalnav ul li a.hasChildrens {
  background-image:url(++resource++quintagroup.dropdownmenu.images/ddm-pointer.gif);
  background-position:100% 50%;
  background-repeat:no-repeat;
  background-color:#002855;
  }
#portal-globalnav ul li a.hasChildrens:hover {
  background-image:url(++resource++quintagroup.dropdownmenu.images/ddm-pointer.gif);
  background-position:100% 50%;
  background-repeat:no-repeat;
  background-color:#335379;
  }

#portal-personaltools {
float: right;
background: #A7A6A2;
position: relative;
z-index: 7000;
padding-top: 2px;
right: 0;
padding: 0.25em 0.5em;
font-size: 80%;
border-bottom-right-radius: 0.5em;
border-bottom-left-radius: 0.5em;
}
#portal-personaltools dd {
    background: #A7A6A2;
    padding-bottom: 0.5em;
}
#portal-personaltools dd a {
    line-height: 2em;
    padding: 0 0.75em;
}
#portal-personaltools dd a:hover {
    background: #336600;
    color: White;
}

/* Menu *

#menu {
	float: left;
	width: 1000px;
	height: 40px;
	background-color: #000000;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 5px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: block;
	float: left;
	background: url(images/img04.gif) no-repeat left 20px;
}

#menu a {
	display: block;
	float: left;
	margin-right: 3px;
	padding: 15px 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	color: #FFFFFF;
}

#menu a:hover { text-decoration: underline; }

#menu .selected a {
	height: 10px;
	background: #666666;
	color: #FFFFFF;
}
/

/* Search *
#search {
	float: right;
	width: 305px;
	height: 50px;
}

#search form {
	float: right;
	margin: 0;
	padding: 15px 20px 0 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search input {
	float: left;
	font: 12px Georgia, "Times New Roman", Times, serif;
	border: 1px solid #66665E;
}

#search-text {
	width: 135px;
	height: 18px;
	padding: 3px 0 0 5px;
	background: #ECF9E4;
	color: #658453;
}

#search-submit {
	height: 21px;
	margin-left: 12px;
	color: #39561D;
}
*/ 

#page {
/*	width: 1000px; */
	padding-top: 10px;
	padding-right: 5px;
	background: #FFFFFF;
	border-left: 1px #66665E solid;
	border-bottom: 5px #66665E solid;
}
/* Content */

#wrapper-content{
/*	float: left; */
/*	width: 700px; */
}
#portal-column-content{
	padding-left: 10px;
}
#content{
	padding-left 10px;
/*	width: 695px; */
}

#content p, #content table, #content dl, dl.portlet p, dl.portlet {
margin-bottom: 1em;
width: 100%;
background-color: white;
}

/* Sidebar */

#sidebar {
	padding-top: 10px;
	padding-right: 10px;
	float: right;
	width: 220px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

/*#sidebar li {
	margin-bottom: 30px;
	padding: 0 0 10px 0px;
}*/

#sidebar li ul {
}

#sidebar li li {
	margin: 0;
	padding-left: 15px;
	background: url(images/img05.jpg) no-repeat left 5px;
}

#sidebar p {
	margin: 0;
}

#sidebar h2 {
	height: 25px;
	margin: 0 0 10px 0px;
	padding: 8px 0 2px 0px;
	border-bottom: 1px #BDBDBB dotted;
	color: #335379;
}


#sidebar p {
	line-height: 150%;
}

	/** LOGO */

#logo {
	padding-bottom: 5px;

}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	font-weight: normal;
	color: #FFFFFF;
}

#logo p {
	padding-left: 3px;
	padding-top: 15px;
	text-transform: uppercase;
	font-size: 10px;
}

#logo h1 {
	font-family:Arial, Verdana, Georgia;
	padding-top: 15px;
	font-size: 44px;
	letter-spacing: .2em;
	
}

#logo a:visited {

	text-decoration: none;
	color: #FFFFFF;





/* Calendar */

#calendar {
}

#calendar caption {
	padding-bottom: 5px;
	font-weight: bold;
}

#calendar table {
	width: 100%;
	border-collapse: collapse;
	border-bottom: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-right: 1px solid #24130F;
}

#calendar thead th {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	background: #24130F;
}

#calendar tbody td {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot td {
	padding: 5px;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot #next {
	border-top: 1px solid #24130F;
	text-align: right;
}

#calendar tfoot #prev {
	border-top: 1px solid #24130F;
}

#calendar .pad {
	border-bottom: 1px solid #24130F;
}

#calendar #today {
	background: #24130F;
}

/* Footer */
#footer {
/*	width: 1000px; */
	margin-left: 30px;
	height: 30px;
}


#portal-footer{
	background: #CCCCCC;

}

#footer p {
	margin: 0;
	padding: 3px 0;
	text-align: center;
	font-color: rgb(125,125,125);
	line-height: normal;
	font-size: 12px;

}

#footer a {text-decoration:underline; color:rgb(125,125,125);}
#footer a:hover {text-decoration:none; color:rgb(0,0,0);}
#footer a:visited {color:rgb(0,0,0);}
